*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'arial', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 14px;

}

nav a{
    font-size: 13px;
    display: inline-block;
    line-height: 24px;
    font-weight: 400;
    padding: 5px;
}

#sign_in {
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    color: #fff;
    padding: 7px 12 px;
    border-radius: 3px;
    margin-left: 7px;
    cursor: pointer;
}


